# ROMs and related files.
*.gbc
*.sym
*.sav

# Built files.
build/
tools/*
!tools/Makefile
!tools/shard.yml
!tools/shard.lock
!tools/source/

# And of course, the obligatory macOS junk prevention.
.DS_Store
